/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.7;
    background-color:#bebe48b4;
    color: #333;
    background-image: linear-gradient(rgba(137, 137, 201, 0.5), rgba(138, 122, 175, 0.5)),
                  url("art1.jpg");
}

header, footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    color: #333;
}

p {
    margin: 0 0 1em;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navigation Styles */
nav {
    background: #444;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background: #555;
    border-radius: 5px;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px 0;
}

#home {
    background: #e6f7ff;  /* Light blue */
    padding: 40px 0;
    text-align: center;
}

#about {
    background: #fff3e6;  /* Light orange */
}

#portfolio {
    background: #e6ffe6;  /* Light green */
}

#classes {
    background: #fff0f5;  /* Light pink */
}

#contact {
    background: #f5f5dc;  /* Light beige */
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.gallery img {
    max-width: 50%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

/* Form Styles */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

/* Footer Styles */
footer {
    margin-top: 20px;
}

/* Login Page Specific Styles */
#login form {
    max-width: 400px;
    width: 200%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
#login form input {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}



header h1 {
    margin: 30px 0;
}
footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 0.9em;
}
